{% extends "sitepages/base1.html" %}
{% load static %}
{% block homepage_content %}
{% load allauth i18n %}


<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Sign Out</h1>
                    <p class="lead">Sign out of your account.</p>
                </div>
            </div>
            <div class="col-lg-7">
                <!-- Placeholder for future content -->
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->
<div class="container mt-5" style="height: 400px;">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h1 class="h4">{% trans "Sign Out" %}</h1>
                    <p class="text-muted">{% trans 'Are you sure you want to sign out?' %}</p>
                    {% url 'account_logout' as action_url %}
                    <form method="post" action="{{ action_url }}">
                        {% csrf_token %}
                        {{ redirect_field }}
                        <button type="submit" class="btn btn-danger btn-block mt-3">
                            {% trans 'Sign Out' %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
